body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    /* text-shadow: 3px 3px 10px black; */
    background-image: url(https://t3.ftcdn.net/jpg/02/38/18/34/360_F_238183482_nR674OSOksAw7UQAEI56j8wBJpnPMYm0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    line-height: var(--bs-body-line-height);
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.links {
    filter: drop-shadow(3px 3px 5px black);
}

.active {
    background-color: yellow;
    text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 5;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.merch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
